* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.header-section{
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.nav{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.left-nav,.right-nav{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-section{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 70px;
}

img{
    margin-bottom: 50px;
}

.prg{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px #3882F6;
    border-radius: 10px;
    margin-top: 10px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    align-items: center;
}

.box{
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.random-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-prg{
    text-align: center;
    font-size: 18px;
}

.quote-section{
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
}

.third-prg{
    font-size: 20px;
    text-align: end;
}

#prg-div{
    display: flex;
    justify-content: flex-end;
    margin-right: 160px;
}
.call-section{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #3882F6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.left-cont{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4{
    font-size: 24px;
    color: white;    
}

.last-prg{
    color: white;
    font-size: 18px;
}

.right-cont{
    display: flex;
    margin-right: 100px;
    align-items: center;
}

.last-btn{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 75px;
}